.posts {
  list-style-type: none;
  margin: 0;
}

.post {
  margin: 1rem 0;

  a {
    background: #46156e;
    color: #ff8762;
    display: block;
    padding: 1rem;
    text-decoration: none;
  }

  a:hover {
    background: #532aa0;
  }

  h2 {
    margin-bottom: 0;
  }

  p {
    color: #ffffff;
    font-size: 0.8rem;
    font-style: italic;
  }
}
